* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url("../img/iron-man.jpg");
  background-attachment: fixed;
  background-size: 100%;
}

body div.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  -webkit-box-shadow: 0 0 10px 4px #D05093;
          box-shadow: 0 0 10px 4px #D05093;
}

body div.wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px;
}

body div.wrapper ul li {
  list-style-type: none;
}

body div.wrapper ul li input {
  width: 240px;
  padding: 4px 16px;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #5b6178;
  background: none;
  -webkit-box-shadow: 0 2px 3px 1px #D05093;
          box-shadow: 0 2px 3px 1px #D05093;
  color: white;
}

body div.wrapper ul li input:link, body div.wrapper ul li input:visited {
  color: green;
  background-color: Purple;
  text-decoration: none;
  target-new: none;
}

body div.wrapper ul li input:hover {
  color: #D05093;
  background-color: #33bdef;
  border-radius: 32px;
  text-decoration: none;
}

body div.wrapper h1 {
  color: white;
}

body div.wrapper div#list-games {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body div.wrapper div#list-games div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

body div.wrapper div#list-games div a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

body div.wrapper div#list-games div a:hover {
  color: #D05093;
}

body div.wrapper div#list-games div a:active, body div.wrapper div#list-games div a:focus {
  border: 0;
  outline: inherit;
}

body div.wrapper div#list-games div img {
  width: 280px;
  height: 300px;
  margin: 10px;
}

body div.wrapper div#list-games div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body div.wrapper div#list-games div div button {
  -webkit-box-shadow: 0 2px 3px 1px #D05093;
          box-shadow: 0 2px 3px 1px #D05093;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #33bdef), to(#019ad2));
  background: linear-gradient(to bottom, #33bdef 30%, #019ad2 100%);
  background-color: #33bdef;
  border: 1px solid #5b6178;
  cursor: pointer;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 4px 16px;
  text-decoration: none;
}

body div.wrapper div#list-games div div button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #019ad2), to(#33bdef));
  background: linear-gradient(to bottom, #019ad2 30%, #33bdef 100%);
  background-color: #019ad2;
  border-radius: 32px;
  color: #D05093;
}

body div.wrapper div#list-games div div button:focus {
  outline: inherit;
}

body div.wrapper div#list-games div div button:active {
  position: relative;
  top: 5px;
}

body div.wrapper div#template {
  display: none;
}
/*# sourceMappingURL=games.css.map */