<!DOCTYPE html>

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Details Page</title>
    <link rel="icon" href="../img/gamepad.png" />
    <link rel="stylesheet" href="/views/gameDetails.css" />
  </head>

  <body>
    <h1></h1>

    <section>
      <h1>Game details !</h1>
      <div id="template">
        <h2></h2>
        <h3></h3>
        <h4></h4>
        <strong></strong>
        <p></p>
        <div id="game-item"></div>
        <img id="image" />
      </div>
      <div id="list-comments"></div>
    </section>

    <script src="../models/Game.js"></script>
    <script src="../viewmodel/game.js"></script>
  </body>
</html>
