<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Games Page</title>
    <link rel="icon" href="../img/gamepad.png" />
    <link rel="stylesheet" href="games.css" />
    <script src="../models/Game.js"></script>
    <script src="../viewmodel/games.js"></script>
  </head>

  <body>
    <div class="wrapper">
      <ul>
        <li>
          <input
            type="button"
            value="Add Game"
            onclick="window.location.href='addGame.html'"
            target="_blank"
          />
        </li>

        <li>
          <input
            type="button"
            value="Regenerate API"
            onclick="game.regenerate()"
          />
        </li>
      </ul>

      <div id="list-games"></div>
      <div id="template">
        <a target="_blank">
          <h3></h3>
        </a>
        <img />
        <div>
          <button id="details">Details</button>
          <button id="edit">EditTitle</button>
          <button id="delete">Delete</button>
        </div>
      </div>
    </div>
  </body>
</html>
